@import "tailwindcss";
@source "../../../config/initializers/heroicons.rb";

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 767px) {
  html:not([data-layout-mode="app"]) [data-layout-preview-target="appNav"] {
    display: none;
  }
}
